body {
    /* #253c77 - blue */
    /*f8faff - gray*/
    /*text
        font-family: Montserrat,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    color: #253c77;
    */

    background-color: aquamarine;
}
